<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icon-java</key>
	<array>
		<string>java</string>
	</array>
	<key>icon-flash</key>
	<array>
		<string>swf</string>
	</array>
	<key>icon-sass</key>
	<array>
		<string>sass</string>
	</array>
	<key>icon-h</key>
	<array>
		<string>h</string>
    <string>hpp</string>
    <string>hxx</string>
    <string>h++</string>
    <string>pch</string>
    <string>pch++</string>
	</array>
	<key>icon-m</key>
	<array>
		<string>m</string>
		<string>mm</string>
		<string>M</string>
	</array>
	<key>icon-c</key>
	<array>
		<string>c</string>
		<string>C</string>
		<string>cc</string>
		<string>cxx</string>
		<string>cpp</string>
		<string>c++</string>
	</array>
	<key>icon-yaml</key>
	<array>
		<string>yaml</string>
	</array>
	<key>icon-haml</key>
	<array>
		<string>haml</string>
	</array>
	<key>icon-picture</key>
	<array>
		<string>png</string>
		<string>gif</string>
		<string>icon</string>
		<string>ico</string>
		<string>jpeg</string>
		<string>jpg</string>
		<string>bmp</string>
	</array>
	<key>icon-text</key>
	<array>
		<string>text</string>
		<string>txt</string>
	</array>
	<key>icon-tgz</key>
	<array>
		<string>tgz</string>
	</array>
	<key>icon-template</key>
	<array>
		<string>tmpl</string>
		<string>template</string>
	</array>
	<key>icon-xml</key>
	<array>
		<string>xml</string>
		<string>xsl</string>
	</array>
	<key>icon-rss</key>
	<array>
		<string>rss</string>
	</array>
	<key>icon-sql</key>
	<array>
		<string>sql</string>
	</array>
	<key>icon-database</key>
	<array>
		<string>db</string>
	</array>
	<key>icon-gzip</key>
	<array>
		<string>gz</string>
	</array>
	<key>icon-zip</key>
	<array>
		<string>zip</string>
	</array>
	<key>icon-bzip</key>
	<array>
		<string>bz2</string>
	</array>
	<key>icon-tar</key>
	<array>
		<string>tar</string>
	</array>
	<key>icon-txt</key>
	<array>
		<string>txt</string>
	</array>
	<key>icon-ini</key>
	<array>
		<string>ini</string>
	</array>
	<key>icon-conf</key>
	<array>
		<string>conf</string>
		<string>cnf</string>
	</array>
	<key>icon-javascript</key>
	<array>
		<string>js</string>
	</array>
	<key>icon-css</key>
	<array>
		<string>css</string>
	</array>
	<key>icon-ruby</key>
	<array>
		<string>rb</string>
	</array>
	<key>icon-perl</key>
	<array>
		<string>pl</string>
	</array>
	<key>icon-bash</key>
	<array>
		<string>sh</string>
		<string>bash</string>
	</array>
	<key>icon-php</key>
	<array>
		<string>php3</string>
		<string>php4</string>
	</array>
	<key>icon-html</key>
	<array>
		<string>html</string>
		<string>rhtml</string>
		<string>html.erb</string>
		<string>html.py</string>
		<string>html.js</string>
	</array>
	<key>icon-json</key>
	<array>
		<string>json</string>
	</array>
	<key>icon-python</key>
	<array>
		<string>py</string>
		<string>pyc</string>
	</array>
	<key>Executable</key>
	<array>
		<string>app</string>
	</array>
	<key>PBX-actionscript-Icon</key>
	<array>
		<string>as</string>
	</array>
	<key>PBX-bundle-Icon</key>
	<array>
		<string>bundle</string>
		<string>plugin</string>
	</array>
	<key>PBX-lib-Icon</key>
	<array>
		<string>a</string>
		<string>lib</string>
		<string>dylib</string>
	</array>
	<key>PBX-plist-Icon</key>
	<array>
		<string>dict</string>
		<string>plist</string>
		<string>strings</string>
	</array>
	<key>PBX-r-Icon</key>
	<array>
		<string>r</string>
	</array>
	<key>PBX-rsrc-Icon</key>
	<array>
		<string>rsrc</string>
	</array>
</dict>
</plist>